<div class="wrapper ">
 <app-category
   (deleteCategory)="onDeleteCategory($event)"
   (updateCategory)="onUpdateCategory($event)"
   (tellToSubscribers)="onSelectCategory($event)"
   (addCategory)="onAddCategory($event)"
   (searchCategory)="onSearchCategory($event)"
   [selectedCategory]="selectedCategory"
   [categories]="categories"
   [categoryMap]="categoryMap"
   [uncompletedTotal]="uncompletedTotalTasksCount">
 </app-category>
  <div class="main-panel">

    <!-- Navbar -->
   <!-- <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <app-header></app-header>
    </nav>-->
    <app-header
      [categoryName]="selectedCategory ? selectedCategory.name: 'Все'">
    </app-header>

    <div class="content">

      <!-- статистика  -->
      <app-stat
        [totalTasksInCategory]="totalTasksCountInCategory"
        [completeTasksInCategory]="completedCountInCategory"
        [uncompleteTasksInCategory]="uncompletedCountInCategory">
      </app-stat>

      <app-task
                (deleteTask)="onDeleteTask($event)"
                (updateTask)="openEditTaskDialog($event)"
                (filterByStatus)="onFilterTasksByStatus($event)"
                (filterByTitle)="onSearchTasks($event)"
                (filterByPriority)="onFilterByPriority($event)"
                (selectCategory)="onSelectCategory($event)"
                (addTask)="onAddTask($event)"
                [selectedCategory]="selectedCategory"
                [tasks]="tasks" [priorities]="priorities">
      </app-task>
    </div>
    <app-footer></app-footer>
  </div>
</div>
