<div class="wrapper ">
 <app-category
   (deleteCategory)="onDeleteCategory($event)"
   (updateCategory)="onUpdateCategory($event)"
   (tellToSubscribers)="onSelectCategory($event)"
   (addCategory)="onAddCategory($event)"
   (searchCategory)="onSearchCategory($event)"
   [selectedCategory]="selectedCategory"
   [categories]="categories">
 </app-category>
  <div class="main-panel">
    <div class="content">
      <app-task (deleteTask)="onDeleteTask($event)"
                (updateTask)="openEditTaskDialog($event)"
                (filterByStatus)="onFilterTasksByStatus($event)"
                (filterByTitle)="onSearchTasks($event)"
                (filterByPriority)="onFilterByPriority($event)"
                (selectCategory)="onSelectCategory($event)"
                (addTask)="onAddTask($event)"
                [selectedCategory]="selectedCategory"
                [tasks]="tasks" [priorities]="priorities">
      </app-task>
    </div>
    <app-footer></app-footer>
  </div>
</div>
