.completed{
  text-decoration: line-through;
  color: #797979;
}

table {
  width: 100%;
}

.tableID{
  width: 4%;
}

.tableName{
  width: 55%;
  cursor: pointer;
}

.tableCategory, .tablePriority{
  width: 12%;
}

.tableCompleted{
  width: 7%;
}

.tableDate{
  width: 20%;
}

.form-check-input{
  position: static;
}

.completed{
  text-decoration: line-through;
  color: greenyellow;
}

.row{
  margin: 7px 0 0 7px;
}
